@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
/* UNIVERSAL CSS */
* {
    scroll-behavior: smooth;
    font-family: "Poppins", sans-serif !important;
}
/* read more button */
.container-course .read-button {
    padding: .5rem;
    border-radius: 10px;
    background-color: whitesmoke;
    color: #252525;
    text-transform: capitalize;
    font-size: 1rem;
    position: absolute;
    border: 2px solid #252525;
    left: 50%;
    display: none;
    font-weight: bold;
    cursor: pointer;
    bottom: 0;
    transform: translate(-50%, 50%);
    transition: 0.3s ease-out;
}
.container-course .read-button:hover{
    background-color: rgb(244, 42, 96);
}
.container-course .card-course:hover .read-button{
    display: block;
}

/* course container */
.container-course{
    background-color: rgb(244, 42, 96);
    padding: 1rem 3rem 2.5rem 3rem;
    display: flex;
    gap: 1rem;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.container-course h1{
    color: white;
    text-align: center;
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 3rem;
}
.container-course h1 .info-course{
    font-size: .8rem;
    font-weight: normal;
    text-transform: uppercase;
}

/* course-card */
.container-course .card-course{
    background: rgba(37, 37, 37, 0.35);
    backdrop-filter: blur(13px);
    -webkit-backdrop-filter: blur(13px);
    border-radius: 10px;
    border: 2px solid transparent;
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding-bottom: 1rem;
    transition: 0.5s ease-in-out;
    overflow: visible;
}
/* card-course hover */
.container-course .card-course:hover{
    border: 2px solid #252525;
    box-shadow: 0 4px 18px 0 rgba(0, 0, 0, 0.25);
}
.container-course .card-course img{
    width: inherit;
    border-radius: 10px 10px 0px 0px;
}
.container-course .card-course-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2rem;
}
.container-course .card-course .course-card-content{
    display: flex;
    color: whitesmoke;
    flex-direction: column;
    gap: 1rem;
    padding: 0 1rem;
}
.container-course .card-course .course-card-content h4{
    font-size: 1.2rem;
    font-weight: bold;
}
.container-course .card-course .course-card-content p{
    font-size: .8rem;
}

/* reviews */
.container-course .container-reviews-out{
    margin-top: 1rem;
    width: 120%;
    box-sizing: border-box;
    height: fit-content;
}
.container-course .container-reviews-out .reviews-container{
    width: 100%;
    height: 8rem;
}
.container-course .container-reviews-out h1{
    font-size: 1.1rem;
    text-transform: capitalize;
}
/* media query section */
@media only screen and (min-width: 400px){
    .container-course .container-reviews-out {
        width: 100%;
        height: fit-content;
    }
    .container-course .container-reviews-out .reviews-container {
        height: 10rem;
    }
}
@media only screen and (min-width: 500px){
    .container-course .read-button{
        padding: .5rem 1rem;
    }
    .container-course .card-course {
        width: 300px;
    }
    .container-course .container-reviews-out {
        width: 100%;
        padding: 0rem 2rem;
    }
    .container-course .container-reviews-out h1 {
        font-size: 1.3rem;
    }
    .container-course .container-reviews-out .reviews-container {
        height: 10rem;
    }

}
@media only screen and (min-width : 600px){
    .container-course {
        padding: 3.4rem 3rem;
    }
    .container-course .card-course-container{
        flex-direction: row;
    }
    .container-course h1{
        font-size: 2rem;
    }
    .container-course .container-reviews-out {
        padding: 0rem 4rem;
    }
    .container-course .container-reviews-out .reviews-container {
        height: 15rem;
    }
}
@media only screen and (min-width : 1000px){
    .container h1{
        font-size: 3rem;
    }
    .container-course .container-reviews-out {
        padding: 0rem 15rem;
    }
}
