@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;700&display=swap');
/* UNIVERSAL CSS */
*{
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
}


/* css inside home container */
main .home-break{
    padding-bottom: 6rem;
}

main .container-home{
    box-sizing: border-box;
    padding: 1.5rem;
    padding-top: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-size: cover;
    background-color: rgba(0,0,0,.7);
    background-blend-mode: darken;
    background-image: url("../../images/Home/andrew-neel-ute2XAFQU2I-unsplash.webp");
    background-blend-mode: darken;
}
main .container-home .home-content-wrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    gap: .8rem;
}
main .container-home .home-content-wrapper h1{
  font-size: 2rem;
  font-weight: 800;
}
main .container-home .home-content-wrapper p{
  line-height: 2rem;
}
/* button get started css */
.btn-conteiner {
    cursor: pointer;
    margin-top: 1rem;
    display: flex;
    width: 70%;
    justify-content: center;
    --color-text: #ffffff;
    --color-background: #ff135a;
    --color-outline: #ff145b80;
    --color-shadow: #00000080;
  }
  .btn-title{
    padding-top: .4rem;
  }
  .btn-content {
    display: flex;
    align-items: center;
    padding: 5px 30px;
    text-decoration: none;
    font-weight: 600;
    font-size: 13px;
    color: var(--color-text);
    background: var(--color-background);
    transition: 1s;
    border-radius: 100px;
    box-shadow: 0 0 0.2em 0 var(--color-background);
  }

  .btn-content:hover, .btn-content:focus {
    transition: 0.5s;
    -webkit-animation: btn-content 1s;
    animation: btn-content 1s;
    outline: 0.1em solid transparent;
    outline-offset: 0.2em;
    box-shadow: 0 0 0.4em 0 var(--color-background);
  }

  .btn-content .icon-arrow {
    transition: 0.5s;
    margin-right: 0px;
    transform: scale(0.6);
  }

  .btn-content:hover .icon-arrow {
    transition: 0.5s;
    margin-right: 15px;
  }

  .icon-arrow {
    width: 20px;
    margin-left: 15px;
    position: relative;
    top: 6%;
  }

  /* SVG */
  #arrow-icon-one {
    transition: 0.4s;
    transform: translateX(-60%);
  }

  #arrow-icon-two {
    transition: 0.5s;
    transform: translateX(-30%);
  }

  .btn-content:hover #arrow-icon-three {
    animation: color_anim 1s infinite 0.2s;
  }

  .btn-content:hover #arrow-icon-one {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.6s;
  }

  .btn-content:hover #arrow-icon-two {
    transform: translateX(0%);
    animation: color_anim 1s infinite 0.4s;
  }

  /* SVG animations */
  @keyframes color_anim {
    0% {
      fill: white;
    }

    50% {
      fill: var(--color-background);
    }

    100% {
      fill: white;
    }
  }

  /* Button animations */
  @-webkit-keyframes btn-content {
    0% {
      outline: 0.2em solid var(--color-background);
      outline-offset: 0;
    }
  }

  @keyframes btn-content {
    0% {
      outline: 0.2em solid var(--color-background);
      outline-offset: 0;
    }
  }


/* media query responsive */
@media only screen and (min-width: 467px){
    main .container-home{
        background-image: url("../../images/home/jason-goodman-Oalh2MojUuk-unsplash.webp");
        background-color: rgba(0,0,0,.7);
        background-blend-mode: darken;
        padding: 4rem;
    }
}
@media only screen and (min-width:768px){
  main .container-home{
    padding: 8rem;
  }
}

@media only screen and (min-width: 996px) and (max-width: 1113px){
  .btn-content{
    font-size: 20px;
  }
}
@media only screen and (min-width:1110px){
  main .container-home{
    padding: 19rem;
  }
  .btn-conteiner {
    margin-top: 1rem;
    display: flex;
    justify-content: center;
    --color-text: #ffffff;
    --color-background: #ff135a;
    --color-outline: #ff145b80;
    --color-shadow: #00000080;
  }
  .btn-title{
    padding-top: .2rem;
  }
  .btn-content {
    display: flex;
    align-items: center;
    padding: 5px 30px;
    text-decoration: none;
    font-weight: 600;
    font-size: 30px;
    color: var(--color-text);
    background: var(--color-background);
    transition: 1s;
    border-radius: 100px;
    box-shadow: 0 0 0.2em 0 var(--color-background);
  }
    .btn-content:hover .icon-arrow {
    transition: 0.5s;
    margin-right: 25px;
  }
}